.git
.gitignore
.env
.env.*
!.env.example
!.env.dev.example
node_modules
**/node_modules
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.next
**/venv
**/.venv
db.sqlite3
auth_key.json
media
staticfiles
*.log
